# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.cs text eol=crlf diff=csharp
*.json text eol=crlf
*.props text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.md text eol=crlf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.dll binary
*.exe binary
